main {
    background-color: aqua;
    height: 600px;
}

#grid {
    height: 500px;
    width: 500px;
    border: 1px solid black;
}

#grid .col{
    height: calc(100% / 10);
    min-width: calc(100% / 10);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clicked{
    background-color: lightblue;
}
