main {
    background-color: aqua;
    height: 600px;
}

#grill {
    height: 500px;
    width: 500px;
    border: 1px solid black;
}

#grill .col{
    height: calc(100% / 8);
    min-width: calc(100% / 8);
    border: 1px solid black;
}

#grill .col .clicked{
    background-color: lightblue;
}
